* {
    selected-foreground  : #2f2f49   ;
    background-alt       : #11111b   ;
    background           : #1e1e2e   ;
    foreground           : #D9E0EE   ;
    selected             : #89b4fa   ;
    active               : #e8d2ff   ;
    urgent               : #F28FADFF ;
}

